
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <a href="~/Areas/Baby/Views/DoneThings/Add.cshtml">Baby - Add</a> <br />

    <a href="~/Areas/Baby/Views/DoneThings/Index.cshtml">Baby Summary</a> <br />


    <a href="~/Areas/GroceryList/Views/Home/Index.cshtml">GroceryList - List of items needed</a> <br />

    <a href="~/Areas/Gas/Views/Person/Add.cshtml">Gas - Person</a><br />
    <br />
    <br />
    <br />
    <br />

</div>