@using System.Web.Mvc.Html
@model SDNWebApps.Areas.Gas.Models.Auto.AddViewModel

@{
    ViewBag.Title = "Add for " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m=> m.PersonID)
    <div>
        @Html.LabelFor(m => m.AutoName): 
        @Html.TextBoxFor(m => m.AutoName)
    </div>

    <input type="submit" value="Add" />
}


