@model List<SDNWebApps.Views.Task>

@{
    Layout = "~/Areas/Tasks/Views/Shared/_TasksLayout.cshtml";
    ViewBag.Header = "Tasks";
}


<h2>@ViewBag.Title</h2>

@Html.Partial("ListTasks", Model)

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/task")
