label.Add {
	width: 70px;
	padding-bottom: 2px;
}

label {

text-align:left;

}

 .ItemsAddForm {
	padding-top: 5px;
	padding-bottom: 5px;
	}

form{
	padding-left 8px;
}

a.headerItems {
	display: inline-block;
	width: 33px;
	padding-bottom: 2px;
}
.got-link,.delete-link {

	padding: 10px 0px 10px 0px;
    color:blue;


 
}


#HeaderLablel {
	display: inline-block;
	width: 40px;
	padding-bottom: 6px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}




