    .MenuBar {
        display: inline-block;
        width: 100px;
        padding-bottom: 10px;
    }
    .BlackLine {
        background: black;
        width: 250px;
        height: 1px;
        }
        