@using System.Web.Mvc.Html
@using System.Web.Optimization
@model SDNWebApps.Areas.Gas.Models.Person.ListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="container">
    @{
    foreach (var item in Model.Persons)
    {
        <p style="padding-left: 5px">@Html.ActionLink(item.PersonName, "List", "Auto", new { id = item.ID }, null)</p>
    }
    }

    <br />
    @Html.ActionLink("Add Person","Add","Person",null,null)
</div>
