<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
    <body>
        @RenderPage("~/Views/Shared/MainMenuBar.cshtml")
        
        @RenderBody()
        
    </body>
</html>
