
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container text-center">
    <div></div>
    <br />
    <div>  <a href="~/Baby/DoneThings/Add">Baby - Add</a></div>
    <div><a href="~/Baby/DoneThings/Index">Baby Summary</a> <br /></div>
    <div><a href="~/GroceryList/Home/Index">GroceryList - List of items needed</a> <br /></div>
    <div> <a href="~/Gas/Person/List">Gas - Person</a><br /></div>
    <div>@Html.ActionLink("Cardio Logs", "Index", "CardioLogs", new { area = "Cardio" }, new { })</div>
    <div>@Html.ActionLink("List Punishment", "Index", "Punshments", new { Area = "Baby" }, new { })</div>

<style>
    div{
        padding-bottom:10px;
    }
</style>