
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div></div>
    <br/>
    <div><a href="~/Areas/Baby/Views/DoneThings/Add.cshtml">Baby - Add</a></div>
    <div><a href="~/Areas/Baby/Views/DoneThings/Index.cshtml">Baby Summary</a> <br /></div>
    <div><a href="~/Areas/GroceryList/Views/Home/Index.cshtml">GroceryList - List of items needed</a> <br /></div>
    <div> <a href="~/Areas/Gas/Views/Person/Add.cshtml">Gas - Person</a><br /></div>

    

    


    

   
</div>

<style>
    div{
        padding-bottom:10px;
    }
</style>