@using System.Web.Mvc.Html;
@model   SDNWebApps.Areas.GroceryList.Models.Home.ViewItemsVM

@{
    Layout = "~/Areas/GroceryList/Views/Home/Shared/_GroceryListLayout.cshtml";
}
<title>@ViewBag.Title</title>

<br />

@Html.Partial("~/Areas/GroceryList/Views/Items/ListItems.cshtml", Model)

