@using SDNWebApps
@using SDNWebApps.Areas.GroceryList.Models.Home
@model  ViewItemsVM

@{
    Layout = "~/Areas/GroceryList/Views/Home/Shared/_GroceryListLayout.cshtml";
}
<title>@ViewBag.Title</title>


@Html.Partial("~/Areas/GroceryList/Views/Items/ListItems.cshtml", Model)

@*<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/items.js"></script>*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/grocery")
